---
stages:
  - test
  - package

test-static:
  stage: test
  image: debian:sid-slim
  before_script:
    # Avoid the warnings of "debconf: unable to initialize frontend: Dialog"
    - echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections
    - apt-get update -q
    - |
      apt-get -qq install --no-install-recommends --yes \
        codespell \
        devscripts \
        git \
        lsb-release \
        make \
        python3-debian \
        shellcheck
  script:
    - make test-static
  # Don't run this job if only a git tag was pushed
  except:
    variables:
      - $CI_COMMIT_TAG != null

test-debcraft:
  stage: test
  image: debian:sid-slim
  services:
    - name: docker:27-dind
      command: ["--tls=false"]   # simple, no-TLS setup
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    # Avoid the warnings of "debconf: unable to initialize frontend: Dialog"
    - echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections
    - apt-get update -q
    - |
      apt-get -qq install --no-install-recommends --yes \
        docker.io \
        docker-cli \
        docker-buildx \
        curl \
        git \
        git-buildpackage \
        make \
        python3-pytest
    - printenv | sort
  script:
    - export CONTAINER_CMD=docker
    - export DEBUG=true
    - make test-debcraft
  # Don't run this job if only a git tag was pushed
  except:
    variables:
      - $CI_COMMIT_TAG != null

## Security testing
# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml

# Once all native tests passed, also run Salsa CI, except if a tag push as
# Salsa CI does not run on tag pushes at all
Salsa-CI:
  stage: package
  trigger:
    include: debian/salsa-ci.yml
    strategy: depend
  except:
    variables:
      - $CI_COMMIT_TAG != null
